*.mode1v3
*.pbxuser
xcuserdata
xcuserdata/*
*.xcworkspace/*
*.xcworkspace
/.target_source
/Makefile
/config.h
/config.log
/config.status
/keywordhash.h
/lemon
/lempar.c
/libtool
/mkkeywordhash
/opcodes.c
/opcodes.h
/parse.c
/parse.h
/parse.h.temp
/parse.out
/parse.y
/sqlite3.c
/sqlite3.h
/sqlite3.pc
/tsrc/
.DS_Store
